:root {
    /* linear gradinet */
    --primary-color: hsl(236, 72%, 79%);
    --secondary-color: hsl(237, 63%, 64%);

    --linear-gradient: linear-gradient(var(--primary-color), var(--secondary-color));
    --right-gradient: linear-gradient(to right, var(--primary-color), var(--secondary-color));

    --box-shadow: 3px 4px 10px hsl(234, 14%, 74%);

    --very-light: hsl(240, 78%, 98%);
    --light: hsl(234, 14%, 74%);
    --grayish: hsl(233, 13%, 49%);
    --dark-grayish: hsl(232, 13%, 33%);

    --mobile: 375px;
    --desktop: 1440px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    outline: none;
}
body {
    background-color: var(--very-light);
    background-image: url(images/bg-top.svg);
    background-repeat: no-repeat;
    background-position: top right;
    font-family: 'Montserrat', sans-serif;
    
    font-size: 15px;
    text-align: center;
    color: var(--grayish);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    -webkit-font-smoothing: antialiased;
    transition: ease 1s;
}
h1 {
    font-weight: 700;
}
ul {
    list-style: none;
    margin-bottom: 2rem;
}
li {
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
}
li:first-child {
    border-top: 1px solid #ddd;
    margin-top: 1rem;
}
.active {
    display: block;
}
.toggle-block {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    color: var(--light);
}
.toggle-button {
    width: 70px;
    height: 34px;
    background-image: var(--right-gradient);
    display: inline-block;
    border-radius: 50px;
    margin: 1rem;
    position: relative;
    cursor: pointer;
    opacity: 1;
}
.toggle-button:hover {
    opacity: .6;
}
.toggle-button__control {
    background-color: #fff;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    position: absolute;
    right: 5px;
    top: 4px;
}

[annually] {
    display: none;
}
.card-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.card {
    padding: 50px 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    min-width: 330px;
}

.card-body {
    color: var(--dark-grayish);
}

.card__main {
    background-image: var(--linear-gradient);
    color: #fff;
    min-height: 530px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card__main .card-body {
    color: #fff;
}

.card-body__price {
    font-size: 4rem;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.card-body__price .cash-symbol {
    font-size: 2.5rem;
    font-weight: 400;
    margin-right: 10px;
}
.card-body__item {
    font-size: 1rem;
}
.card a {
    font-weight: 400;
    text-transform: uppercase;
    max-width: 100%;
    padding: 12px 20px;
    display: block;
    border-radius: 5px;
    margin-top: 1rem;
    letter-spacing: 2px;
    border: 1px solid transparent;
}
.card a.primary-button {
    color: #fff;
    background-image: var(--right-gradient);
    
}
.card a.primary-button:hover {
    background-image: none;
    background-color: transparent;
    border: 1px solid #6a70dd;
    color: #6a70dd;

}
.card a.secondary-button {
    color: #6a70dd;
    background-color: #fff;
}
.card a.secondary-button:hover {
    background-image: none;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}

footer {
    background-image: url(images/bg-bottom.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
    width: 100%;
    height: 40vh;
    position: absolute;
    bottom: 0;
    z-index: -1;
}

.attribution {
    display: none;
}

@media(max-width: 599px) {
    body {
        flex-direction: column;
        justify-content: flex-start;
        background-position: 150px -56px;
    }
    h1 {
        margin-top: 2rem;
    }
    .card-block {
        flex-direction: column;
        margin-bottom: 4rem;
    }
    .card {
        min-width: 300px;
        margin-bottom: 2rem;
        padding: 1.5rem;
    }
    .card__main {
        min-height: auto;
    }
    .toggle-block {
        padding: 1rem 1rem 3rem 1rem;
    }
    footer {
        background-image: none;
    }
}